In [1]:
import pandas as pd

In [2]:
#Lets learn some basic about loading data, reading and checking our data

#Note: I picked the data set from : https://insights.stackoverflow.com/survey

In [3]:
df = pd.read_csv('survey_results_public.csv')

#Note: if you won't able to read file, it means file is not in your system with working directory.
#So please first download this file from data folder in same repository folder.

In [4]:
df  # it will not give full data set , will show some part of it for reference

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [5]:
df.shape # it will give no. of rows and columns in dataset

(88883, 85)

In [6]:
df.info()  # it will info about dataset with type of columns with column names with 
           # how many non null objects

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88883 entries, 0 to 88882
Data columns (total 85 columns):
Respondent                88883 non-null int64
MainBranch                88331 non-null object
Hobbyist                  88883 non-null object
OpenSourcer               88883 non-null object
OpenSource                86842 non-null object
Employment                87181 non-null object
Country                   88751 non-null object
Student                   87014 non-null object
EdLevel                   86390 non-null object
UndergradMajor            75614 non-null object
EduOther                  84260 non-null object
OrgSize                   71791 non-null object
DevType                   81335 non-null object
YearsCode                 87938 non-null object
Age1stCode                87634 non-null object
YearsCodePro              74331 non-null object
CareerSat                 72847 non-null object
JobSat                    70988 non-null object
MgrIdiot                  61159 non-null object
MgrMoney                  61157 non-null object
MgrWant                   61232 non-null object
JobSeek                   80555 non-null object
LastHireDate              79854 non-null object
LastInt                   67155 non-null object
FizzBuzz                  71344 non-null object
JobFactors                79371 non-null object
ResumeUpdate              77877 non-null object
CurrencySymbol            71392 non-null object
CurrencyDesc              71392 non-null object
CompTotal                 55945 non-null float64
CompFreq                  63268 non-null object
ConvertedComp             55823 non-null float64
WorkWeekHrs               64503 non-null float64
WorkPlan                  68914 non-null object
WorkChallenge             68141 non-null object
WorkRemote                70284 non-null object
WorkLoc                   70055 non-null object
ImpSyn                    71779 non-null object
CodeRev                   70390 non-null object
CodeRevHrs                49790 non-null float64
UnitTests                 62668 non-null object
PurchaseHow               61108 non-null object
PurchaseWhat              62029 non-null object
LanguageWorkedWith        87569 non-null object
LanguageDesireNextYear    84088 non-null object
DatabaseWorkedWith        76026 non-null object
DatabaseDesireNextYear    69147 non-null object
PlatformWorkedWith        80714 non-null object
PlatformDesireNextYear    77443 non-null object
WebFrameWorkedWith        65022 non-null object
WebFrameDesireNextYear    62944 non-null object
MiscTechWorkedWith        59586 non-null object
MiscTechDesireNextYear    64511 non-null object
DevEnviron                87317 non-null object
OpSys                     87851 non-null object
Containers                85366 non-null object
BlockchainOrg             48175 non-null object
BlockchainIs              60165 non-null object
BetterLife                86269 non-null object
ITperson                  87141 non-null object
OffOn                     86663 non-null object
SocialMedia               84437 non-null object
Extraversion              87305 non-null object
ScreenName                80486 non-null object
SOVisit1st                83877 non-null object
SOVisitFreq               88263 non-null object
SOVisitTo                 88086 non-null object
SOFindAnswer              87816 non-null object
SOTimeSaved               86344 non-null object
SOHowMuchTime             68378 non-null object
SOAccount                 87828 non-null object
SOPartFreq                74692 non-null object
SOJobs                    88066 non-null object
EntTeams                  87841 non-null object
SOComm                    88131 non-null object
WelcomeChange             85855 non-null object
SONewContent              69560 non-null object
Age                       79210 non-null float64
Gender                    85406 non-null object
Trans                     83607 non-null object
Sexuality                 76147 non-null object
Ethnicity                 76668 non-null object
Dependents                83059 non-null object
SurveyLength              86984 non-null object
SurveyEase                87081 non-null object
dtypes: float64(5), int64(1), object(79)
memory usage: 57.6+ MB

In [7]:
# if we want to see all columns in our dataset , we can do one thing as:

pd.set_option('display.max_columns',None)  # at the position of "None" we can specify the no.
                                           # of columns which want to see

# another same method > pd.set_option('max_columns',None)

In [8]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,22,1,Slightly satisfied,Slightly satisfied,Not at all confident,Not sure,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,THB,Thai baht,23000.0,Monthly,8820.0,40.0,There's no schedule or spec; I work on what se...,Distracting work environment;Inadequate access...,Less than once per month / Never,Home,Average,No,NaN,"No, but I think we should",Not sure,I have little or no influence,HTML/CSS,Elixir;HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):,NaN,NaN,Vim;Visual Studio Code,Linux-based,I do not use containers,NaN,NaN,Yes,Yes,Yes,Reddit,In real life (in person),Username,2011,A few times per week,Find answers to specific questions;Learn how t...,6-10 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,61000.0,Yearly,61000.0,80.0,There's no schedule or spec; I work on what se...,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Developers typically have the most influence o...,I have little or no influence,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the ti...,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,14,9,Very dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,No,I am not interested in new job opportunities,Less than a year ago,"Write any code;Write code by hand (e.g., on a ...",No,"Industry that I'd be working in;Languages, fra...",I was preparing for a job search,UAH,Ukrainian hryvnia,NaN,NaN,NaN,55.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,A few days each month,Office,A little above average,"Yes, because I see value in code review",NaN,"Yes, it's part of our process",Not sure,I have little or no influence,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;Postgr...,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Facebook,In real life (in person),Username,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [9]:
# and we want to reset the column setting to default

pd.reset_option('max_columns')  # default 20 columns

df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [10]:
df.tail(10)   #last 10 rows of dataset

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
88873,88062,NaN,No,Never,"OSS is, on average, of LOWER quality than prop...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88874,88076,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88875,88182,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Pakistan,NaN,"Secondary school (e.g. American high school, G...",NaN,...,Not applicable - I did not use Stack Overflow ...,Courses on technologies you're interested in,NaN,Man,No,Straight / Heterosexual,NaN,Yes,Too short,Neither easy nor difficult
88876,88212,NaN,No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Spain,No,"Secondary school (e.g. American high school, G...",NaN,...,NaN,Tech articles written by other developers;Indu...,40.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88877,88282,NaN,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Not employed, but looking for work",United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,NaN,No,Too short,Neither easy nor difficult
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [11]:
# Lets Learn some basic about Data frame with one simple example:

#Lets create Dict with list

people = {'first_name':['Sandy','Mandy','Randy'],
          'last_name' :['A','B','C'],
          'email' : ['a@gmail.com','b@gmail.com','c@gmail.com']}

In [12]:
people  # it will print the data in very unorganized manner

{'first_name': ['Sandy', 'Mandy', 'Randy'],
 'last_name': ['A', 'B', 'C'],
 'email': ['a@gmail.com', 'b@gmail.com', 'c@gmail.com']}

In [13]:
#lets pull email from dict

people['email']

['a@gmail.com', 'b@gmail.com', 'c@gmail.com']

In [14]:
#lets create it into dataframe

df1 = pd.DataFrame(people)

In [15]:
df1  # you can see that now we get into organized manner and we can access each thing in organized manner too.

  first_name last_name        email
0      Sandy         A  a@gmail.com
1      Mandy         B  b@gmail.com
2      Randy         C  c@gmail.com

In [16]:
#Selecting Rows and Columns

In [17]:
#accessing specific column

df1.email

0    a@gmail.com
1    b@gmail.com
2    c@gmail.com
Name: email, dtype: object

In [18]:
#In case we have same columns name as methods in python we can acess column:

df1['email']

0    a@gmail.com
1    b@gmail.com
2    c@gmail.com
Name: email, dtype: object

In [19]:
#list of columns which we want to access

df1[['last_name','email']]

  last_name        email
0         A  a@gmail.com
1         B  b@gmail.com
2         C  c@gmail.com

In [20]:
df1.columns  # to see column names of dataframe

Index(['first_name', 'last_name', 'email'], dtype='object')

In [21]:
#specific row or columns by:

df1.iloc[[0]]  # first row of index 0 with all columns

  first_name last_name        email
0      Sandy         A  a@gmail.com

In [22]:
df1.iloc[[0],[2]]  # first row with 3rd column in format [[row],[column]]

         email
0  a@gmail.com

In [23]:
df1.iloc[[0,1],[0,1]] # 1st and 2nd row with first and second column

  first_name last_name
0      Sandy         A
1      Mandy         B

In [24]:
#iloc means nothing searching by index location

# fetching row and column with labels

df1.loc[[0,1],['email','last_name']]

         email last_name
0  a@gmail.com         A
1  b@gmail.com         B

In [25]:
df1.loc[1:2,'last_name':'email'] #used slicing method to get data

  last_name        email
1         B  b@gmail.com
2         C  c@gmail.com

In [26]:
df.loc[0:4,'Hobbyist':'Employment']

,Hobbyist,OpenSourcer,OpenSource,Employment
0,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
2,Yes,Never,The quality of OSS and closed source software ...,Employed full-time
3,No,Never,The quality of OSS and closed source software ...,Employed full-time
4,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time

In [27]:
#creating list of data with loop

data = [{'a1':i,
         'a2':i*2,
         'a3':i**2} for i in range(9)]

pd.DataFrame(data)

   a1  a2  a3
0   0   0   0
1   1   2   1
2   2   4   4
3   3   6   9
4   4   8  16
5   5  10  25
6   6  12  36
7   7  14  49
8   8  16  64

# Indexes - How to Set, Reset, and Use Indexes

In [28]:
#suppose if we want chang our index or want to set our index to something unique 

#lets see one example

df1

  first_name last_name        email
0      Sandy         A  a@gmail.com
1      Mandy         B  b@gmail.com
2      Randy         C  c@gmail.com

In [29]:
# in df1 default index is numerical 0,1,2 but suppose we want to change this something else
#unique then how we can do that?

df1.set_index('email')  # here email will set as index for data frame, but it won't change original one

            first_name last_name
email
a@gmail.com      Sandy         A
b@gmail.com      Mandy         B
c@gmail.com      Randy         C

In [30]:
# we can create new data frame either we don't want to change our orignal one

df2 = df1.set_index('email')

In [31]:
df2

            first_name last_name
email
a@gmail.com      Sandy         A
b@gmail.com      Mandy         B
c@gmail.com      Randy         C

In [32]:
#to check index

df2.index

Index(['a@gmail.com', 'b@gmail.com', 'c@gmail.com'], dtype='object', name='email')

In [33]:
#note if want to change our original data frame with setting we can do that as:

# "df1.set_index('email',inplace = True)" --- by this original dataframe changed with index

# we can reset our index back to int index  as "df1.reset_index(inplace= True)"

# Indexes are nothing lables for each rows .

In [34]:
#So here what is the benefit of changing the index to email.
#Previously index was integers , so suppose we have n number of rows and want to fetch 
#info with respect to specific email then we can search the info like this

df2.loc['b@gmail.com'] # it will give first and last name for that unique email address

first_name    Mandy
last_name         B
Name: b@gmail.com, dtype: object

In [35]:
#So in this case if we can to fetch any specific row with index like:
#df2.loc[0]  -- it will give error because now there is no integers as index any more 

#But still we can one alternative method for this

df2.iloc[1]  # it works on indexing , will get the same output

first_name    Mandy
last_name         B
Name: b@gmail.com, dtype: object

In [36]:
df.set_index('Respondent',inplace=True)

In [37]:
df.head()  # Respondent unique no. is act index for data frame

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [38]:
df.sort_index()  # to sort the index but not permanent to original data frame

df.sort_index(inplace= True) # to sort index parmanently

df.sort_index(ascending = False,inplace = True)  # sort index in descending and permanently

In [39]:
df

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
88883,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Greece,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers,33.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Easy
88882,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Netherlands,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Participated in online coding competitions (e....,...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
88881,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Austria,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,NaN,NaN,37.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88880,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88879,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Finland,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Not applicable - I did not use Stack Overflow ...,NaN,34.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

# Filtering - Using Conditionals to Filter Rows and Columns

In [40]:
df2['first_name']=='Sandy'  # it will give true and false in dataframe only , we don't want
                            # like this

    #so lets assign it so some variable
    
filt = (df2['first_name']=='Sandy')

In [41]:
filt

email
a@gmail.com     True
b@gmail.com    False
c@gmail.com    False
Name: first_name, dtype: bool

In [42]:
df2[filt]  # it will the filtered row in data frame, with all columns

            first_name last_name
email
a@gmail.com      Sandy         A

In [43]:
# But if we can to see any specific column with filter row use loc method

df2.loc[filt,'last_name']  # filtered row with last_name

email
a@gmail.com    A
Name: last_name, dtype: object

In [44]:
filt1 = (df2['first_name']=='Sandy') |(df2['first_name']=='Mandy')  # or condition

In [45]:
df2.loc[filt1]

            first_name last_name
email
a@gmail.com      Sandy         A
b@gmail.com      Mandy         B

In [46]:
#not filter

df2.loc[~filt1]

            first_name last_name
email
c@gmail.com      Randy         C

In [47]:
#Lets practice this with somelarge data
pd.set_option('display.max_columns',None)
df.head()

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
88883,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Greece,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",20 to 99 employees,"Developer, back-end;Developer, desktop or ente...",9,15,5,Slightly dissatisfied,Slightly dissatisfied,Not at all confident,No,No,"I’m not actively looking, but I am open to new...",More than 4 years ago,Interview with people in senior / management r...,No,Financial performance or funding status of the...,"My job status changed (promotion, new job, etc.)",EUR,European Euro,20000.0,Yearly,22915.0,48.00,There's no schedule or spec; I work on what se...,Inadequate access to necessary tools;Not enoug...,"Less than half the time, but at least one day ...",Home,Far above average,No,NaN,"Yes, it's part of our process",Not sure,I have little or no influence,Go;HTML/CSS;Java;JavaScript;Other(s):,C++;Go;Java;Rust,Cassandra;MariaDB;PostgreSQL;SQLite,PostgreSQL,Docker;Linux,Docker;Linux,Spring;Vue.js,Spring;Vue.js,NaN,NaN,IntelliJ;Sublime Text,Linux-based,"Testing;Production;Outside of work, for person...",Implementing cryptocurrency-based products,A passing fad,Yes,SIGH,Yes,Reddit,In real life (in person),Username,2008,A few times per week,Find answers to specific questions;Learn how t...,1-2 times per week,They were about the same,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers,33.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Easy
88882,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Netherlands,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Participated in online coding competitions (e....,100 to 499 employees,Academic researcher;Database administrator;Dev...,10,15,8,Slightly dissatisfied,Very dissatisfied,Not at all confident,Yes,Yes,"I’m not actively looking, but I am open to new...",Less than a year ago,Write any code;Complete a take-home project;In...,No,Office environment or company culture;Remote w...,I had a negative experience or interaction at ...,EUR,European Euro,42768.0,Monthly,588012.0,40.00,There is a schedule and/or spec (made by me or...,Distracting work environment;Lack of support f...,Less than once per month / Never,Home,Far above average,"Yes, because I see value in code review",5.0,"Yes, it's part of our process",Not sure,I have little or no influence,C#;HTML/CSS;Java;JavaScript;PHP;Python,C#;Java;JavaScript;PHP,MariaDB;PostgreSQL,MariaDB;PostgreSQL,Android;Arduino;Linux;Raspberry Pi;WordPress,Android;Arduino;Linux;Raspberry Pi;WordPress,jQuery;React.js,jQuery;React.js,Unity 3D,Unity 3D,Android Studio;IntelliJ;Notepad++;Vim;Visual S...,Linux-based,I do not use containers,Not at all,A passing fad,Yes,Yes,Yes,Instagram,Neither,Username,2009,A few times per week,Find answers to specific questions,3-5 times per week,Stack Overflow was slightly faster,11-30 minutes,Yes,Less than once per month or monthly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
88881,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Austria,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack;Engineer, site reliability",18,17,9,Neither satisfied nor dissatisfied,Neither satisfied nor dissatisfied,Very confident,No,No,I am not interested in new job opportunities,More than 4 years ago,Write any code;Complete a take-home project;In...,No,Office environment or company culture;Diversit...,"Something else changed (education, award, medi...",EUR,European Euro,60000.0,Yearly,68745.0,39.00,There is a schedule and/or spec (made by me or...,Distracting work environment;Not enough people...,A few days each month,Office,A little below average,"Yes, because I see value in code review",10.0,"Yes, it's part of our process","The CTO, CIO, or other management purchase new...",I have little or no influence,Bash/Shell/PowerShell;Go;HTML/CSS;Java;JavaScr...,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;P...,PostgreSQL;Redis,Elasticsearch;PostgreSQL;Redis,Docker;Kubernetes;Linux;MacOS;Microsoft Azure;...,Docker;Google Cloud Platform;iOS;Kubernetes;Li...,Django;React.js,Angular/Angular.js;Django;React.js,Ansible,Ansible;Node.js,Emacs;Vim;Visual Studio Code,MacOS,Development;Testing;Production;Outside of work...,Non-currency applications of blockchain,Useful for immutable record keeping outside of...,No,Yes,Yes,NaN,Online,Login,2008,A few times per month or weekly,Find answers to specific questions,More than 10 times per week,Stack Overflow was slightly faster,11-30 minutes,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,NaN,NaN,37.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88880,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",2-9 employees,"Developer, mobile;Engineering manager;Product ...",20,12,20,Slightly dissatisfied,Neither satisfied nor dissatisfied,NaN,NaN,NaN,"I’m not actively looking, but I am open to new...",Less than a year ago,Interview with people in peer roles;Interview ...,No,Office environment or company culture;Remote w...,I was preparing for a job search,USD,United States dollar,NaN,NaN,NaN,NaN,There is a schedule and/or spec (made by me or...,Distracting work environment;Meetings;Not enou...,"More than half, but not all, the time",Home,NaN,"Yes, because I see value in code review",NaN,"Yes, it's not part of our process but the deve...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88879,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Finland,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",20 to 99 employees,"Developer, desktop or enterprise applications;...",17,16,7,Slightly satisfied,Neither satisfied nor dissatisfied,Not at all confident,Not sure,I am already a manager,"I’m not actively looking, but I am open to new...",More than 4 years ago,Complete a take-home project;Interview with pe...,No,"Languages, frameworks, and other technologies ...",I had a negative experience or interaction at ...,EUR,European Euro,6000.0,Monthly,82488.0,37.75,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Distrac...,Less than once per month / Never,Home,Far above average,"Yes, because I see value in code review",10.0,"Yes, it's part of our process",Developers and management have nearly equal in...,I have little or no influence,Bash/Shell/PowerShell;C++;Python,C++,NaN,NaN,Android;Linux;Windows,Linux;Windows,NaN,NaN,NaN,TensorFlow;Unity 3D;Unreal Engine,Android Studio;Notepad++;Vim;Visual Studio,Windows,I do not use containers,Not at all,A passing fad,Yes,NaN,NaN,YouTube,Neither,Username,I don't remember,A few times per month or weekly,Find answers to specific questions,Less than once per week,Stack Overflow was slightly faster,60+ minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are","No, not at all",Not applicable - I did not use Stack Overflow ...,NaN,34.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

In [48]:
#Here ConvertedComp is salary lets filter out

slary_filt = df['ConvertedComp']>70000

In [49]:
#Lets look on filtered row for more than 70000 salary and specific coloumns

df.loc[slary_filt,['County','LanguageWoredWith','ConvertedComp']]

C:\Users\sangarg\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

            County  LanguageWoredWith  ConvertedComp
Respondent
88882          NaN                NaN       588012.0
88879          NaN                NaN        82488.0
88878          NaN                NaN       130000.0
88877          NaN                NaN      2000000.0
88876          NaN                NaN       180000.0
...            ...                ...            ...
22             NaN                NaN       103000.0
16             NaN                NaN       455352.0
13             NaN                NaN        90000.0
9              NaN                NaN        95179.0
6              NaN                NaN       366420.0

[22289 rows x 3 columns]

In [50]:
# Suppose we want the list of country in filter only 

countries = ['Canada','India','Germany','United States']

cou_filt = df['Country'].isin(countries)  # we have isin function to filter the list

In [51]:
df.loc[cou_filt,'Country']

Respondent
88880    United States
88878    United States
88877    United States
88876    United States
88875    United States
             ...
12              Canada
10               India
8                India
6               Canada
4        United States
Name: Country, Length: 39271, dtype: object

In [52]:
#Columns containing any particular string pattern
Lan_filt = df['LanguageWorkedWith'].str.contains('Python',na= False)
#na = False removes NA / NaN values from consideration; otherwise a ValueError may be returned

In [53]:
df.loc[Lan_filt,'LanguageWorkedWith'] # putting condition
                                      #all columns which has Python atleast

Respondent
88882               C#;HTML/CSS;Java;JavaScript;PHP;Python
88881    Bash/Shell/PowerShell;Go;HTML/CSS;Java;JavaScr...
88879                     Bash/Shell/PowerShell;C++;Python
88876    Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...
88874                                 C++;Python;Scala;SQL
                               ...
8        Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
4                                      C;C++;C#;Python;SQL
2                                      C++;HTML/CSS;Python
1                          HTML/CSS;Java;JavaScript;Python
Name: LanguageWorkedWith, Length: 36443, dtype: object

# Updating Rows and Columns

In [54]:
df2.columns = ['First_N','Last_N'] # changing name of columns of data frame

In [55]:
df2

            First_N Last_N
email
a@gmail.com   Sandy      A
b@gmail.com   Mandy      B
c@gmail.com   Randy      C

In [56]:
# suppose we want all later of column in uppper case

df2.columns = [x.upper() for x in df2.columns]

In [57]:
df2  # all letters of columns in upper case

            FIRST_N LAST_N
email
a@gmail.com   Sandy      A
b@gmail.com   Mandy      B
c@gmail.com   Randy      C

In [58]:
# we want to replace anything between string 

df2.columns = df2.columns.str.replace('_'," ") # it will remove "_" with space

df2

            FIRST N LAST N
email
a@gmail.com   Sandy      A
b@gmail.com   Mandy      B
c@gmail.com   Randy      C

In [59]:
#lets reset that

df2.columns = df2.columns.str.replace(" ","_")
df2

            FIRST_N LAST_N
email
a@gmail.com   Sandy      A
b@gmail.com   Mandy      B
c@gmail.com   Randy      C

In [60]:
# renaming the specific columns only

df2.rename(columns = {'LAST_N':'last_name'})

            FIRST_N last_name
email
a@gmail.com   Sandy         A
b@gmail.com   Mandy         B
c@gmail.com   Randy         C

In [61]:
# it will create copy only no permanent change lets see

df2 #it still have same

            FIRST_N LAST_N
email
a@gmail.com   Sandy      A
b@gmail.com   Mandy      B
c@gmail.com   Randy      C

In [62]:
# So to change permanently 

df2.rename(columns = {'LAST_N':'last_name'},inplace = True)

df2

            FIRST_N last_name
email
a@gmail.com   Sandy         A
b@gmail.com   Mandy         B
c@gmail.com   Randy         C

In [63]:
# Updating Row

df2.reset_index(inplace= True)  # we update the index part here back to original

In [64]:
df2

         email FIRST_N last_name
0  a@gmail.com   Sandy         A
1  b@gmail.com   Mandy         B
2  c@gmail.com   Randy         C

In [65]:
df2.loc[2]=['d@amazon.com','Landy','L']

In [66]:
df2  # Now you can see the we got updated data

          email FIRST_N last_name
0   a@gmail.com   Sandy         A
1   b@gmail.com   Mandy         B
2  d@amazon.com   Landy         L

In [67]:
#Now we want to change only specific value in column for respective row

#first grap the column
df2.loc[2,['email']] = ['d@gmail.com']
df2

         email FIRST_N last_name
0  a@gmail.com   Sandy         A
1  b@gmail.com   Mandy         B
2  d@gmail.com   Landy         L

In [68]:
# If we want to update whole column

df2['email']=df2['email'].str.upper()
df2

         email FIRST_N last_name
0  A@GMAIL.COM   Sandy         A
1  B@GMAIL.COM   Mandy         B
2  D@GMAIL.COM   Landy         L

In [69]:
df2['email'].str.len()  # lenght of each email

0    11
1    11
2    11
Name: email, dtype: int64

In [70]:
# second method

df2['email'].apply(len)

0    11
1    11
2    11
Name: email, dtype: int64

In [71]:
df2.applymap(len)  # will fetch len of each element in each columns

   email  FIRST_N  last_name
0     11        5          1
1     11        5          1
2     11        5          1

In [72]:
df2.applymap(str.lower)  # it will lower each element of string value

         email FIRST_N last_name
0  a@gmail.com   sandy         a
1  b@gmail.com   mandy         b
2  d@gmail.com   landy         l

In [73]:
df2.applymap(str.upper) # all str upper

         email FIRST_N last_name
0  A@GMAIL.COM   SANDY         A
1  B@GMAIL.COM   MANDY         B
2  D@GMAIL.COM   LANDY         L

In [74]:
# applymap is very usefull function to map to all

df2.applymap(str.upper)

         email FIRST_N last_name
0  A@GMAIL.COM   SANDY         A
1  B@GMAIL.COM   MANDY         B
2  D@GMAIL.COM   LANDY         L

In [75]:
#Let change column name in our large data frame

df.head() # here ConvertedComp is salary in USD so we want to change name for this for meaninful

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
88883,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Greece,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",20 to 99 employees,"Developer, back-end;Developer, desktop or ente...",9,15,5,Slightly dissatisfied,Slightly dissatisfied,Not at all confident,No,No,"I’m not actively looking, but I am open to new...",More than 4 years ago,Interview with people in senior / management r...,No,Financial performance or funding status of the...,"My job status changed (promotion, new job, etc.)",EUR,European Euro,20000.0,Yearly,22915.0,48.00,There's no schedule or spec; I work on what se...,Inadequate access to necessary tools;Not enoug...,"Less than half the time, but at least one day ...",Home,Far above average,No,NaN,"Yes, it's part of our process",Not sure,I have little or no influence,Go;HTML/CSS;Java;JavaScript;Other(s):,C++;Go;Java;Rust,Cassandra;MariaDB;PostgreSQL;SQLite,PostgreSQL,Docker;Linux,Docker;Linux,Spring;Vue.js,Spring;Vue.js,NaN,NaN,IntelliJ;Sublime Text,Linux-based,"Testing;Production;Outside of work, for person...",Implementing cryptocurrency-based products,A passing fad,Yes,SIGH,Yes,Reddit,In real life (in person),Username,2008,A few times per week,Find answers to specific questions;Learn how t...,1-2 times per week,They were about the same,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers,33.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Easy
88882,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Netherlands,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Participated in online coding competitions (e....,100 to 499 employees,Academic researcher;Database administrator;Dev...,10,15,8,Slightly dissatisfied,Very dissatisfied,Not at all confident,Yes,Yes,"I’m not actively looking, but I am open to new...",Less than a year ago,Write any code;Complete a take-home project;In...,No,Office environment or company culture;Remote w...,I had a negative experience or interaction at ...,EUR,European Euro,42768.0,Monthly,588012.0,40.00,There is a schedule and/or spec (made by me or...,Distracting work environment;Lack of support f...,Less than once per month / Never,Home,Far above average,"Yes, because I see value in code review",5.0,"Yes, it's part of our process",Not sure,I have little or no influence,C#;HTML/CSS;Java;JavaScript;PHP;Python,C#;Java;JavaScript;PHP,MariaDB;PostgreSQL,MariaDB;PostgreSQL,Android;Arduino;Linux;Raspberry Pi;WordPress,Android;Arduino;Linux;Raspberry Pi;WordPress,jQuery;React.js,jQuery;React.js,Unity 3D,Unity 3D,Android Studio;IntelliJ;Notepad++;Vim;Visual S...,Linux-based,I do not use containers,Not at all,A passing fad,Yes,Yes,Yes,Instagram,Neither,Username,2009,A few times per week,Find answers to specific questions,3-5 times per week,Stack Overflow was slightly faster,11-30 minutes,Yes,Less than once per month or monthly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
88881,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Austria,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack;Engineer, site reliability",18,17,9,Neither satisfied nor dissatisfied,Neither satisfied nor dissatisfied,Very confident,No,No,I am not interested in new job opportunities,More than 4 years ago,Write any code;Complete a take-home project;In...,No,Office environment or company culture;Diversit...,"Something else changed (education, award, medi...",EUR,European Euro,60000.0,Yearly,68745.0,39.00,There is a schedule and/or spec (made by me or...,Distracting work environment;Not enough people...,A few days each month,Office,A little below average,"Yes, because I see value in code review",10.0,"Yes, it's part of our process","The CTO, CIO, or other management purchase new...",I have little or no influence,Bash/Shell/PowerShell;Go;HTML/CSS;Java;JavaScr...,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;P...,PostgreSQL;Redis,Elasticsearch;PostgreSQL;Redis,Docker;Kubernetes;Linux;MacOS;Microsoft Azure;...,Docker;Google Cloud Platform;iOS;Kubernetes;Li...,Django;React.js,Angular/Angular.js;Django;React.js,Ansible,Ansible;Node.js,Emacs;Vim;Visual Studio Code,MacOS,Development;Testing;Production;Outside of work...,Non-currency applications of blockchain,Useful for immutable record keeping outside of...,No,Yes,Yes,NaN,Online,Login,2008,A few times per month or weekly,Find answers to specific questions,More than 10 times per week,Stack Overflow was slightly faster,11-30 minutes,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,NaN,NaN,37.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88880,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",2-9 employees,"Developer, mobile;Engineering manager;Product ...",20,12,20,Slightly dissatisfied,Neither satisfied nor dissatisfied,NaN,NaN,NaN,"I’m not actively looking, but I am open to new...",Less than a year ago,Interview with people in peer roles;Interview ...,No,Office environment or company culture;Remote w...,I was preparing for a job search,USD,United States dollar,NaN,NaN,NaN,NaN,There is a schedule and/or spec (made by me or...,Distracting work environment;Meetings;Not enou...,"More than half, but not all, the time",Home,NaN,"Yes, because I see value in code review",NaN,"Yes, it's not part of our process but the deve...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88879,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Finland,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",20 to 99 employees,"Developer, desktop or enterprise applications;...",17,16,7,Slightly satisfied,Neither satisfied nor dissatisfied,Not at all confident,Not sure,I am already a manager,"I’m not actively looking, but I am open to new...",More than 4 years ago,Complete a take-home project;Interview with pe...,No,"Languages, frameworks, and other technologies ...",I had a negative experience or interaction at ...,EUR,European Euro,6000.0,Monthly,82488.0,37.75,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Distrac...,Less than once per month / Never,Home,Far above average,"Yes, because I see value in code review",10.0,"Yes, it's part of our process",Developers and management have nearly equal in...,I have little or no influence,Bash/Shell/PowerShell;C++;Python,C++,NaN,NaN,Android;Linux;Windows,Linux;Windows,NaN,NaN,NaN,TensorFlow;Unity 3D;Unreal Engine,Android Studio;Notepad++;Vim;Visual Studio,Windows,I do not use containers,Not at all,A passing fad,Yes,NaN,NaN,YouTube,Neither,Username,I don't remember,A few times per month or weekly,Find answers to specific questions,Less than once per week,Stack Overflow was slightly faster,60+ minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are","No, not at all",Not applicable - I did not use Stack Overflow ...,NaN,34.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

In [76]:
df.rename(columns={'ConvertedComp':'SalaryUSD'},inplace= True)

In [77]:
df.head(2) # yes column name changed permanently

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,SalaryUSD,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
88883,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Greece,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",20 to 99 employees,"Developer, back-end;Developer, desktop or ente...",9,15,5,Slightly dissatisfied,Slightly dissatisfied,Not at all confident,No,No,"I’m not actively looking, but I am open to new...",More than 4 years ago,Interview with people in senior / management r...,No,Financial performance or funding status of the...,"My job status changed (promotion, new job, etc.)",EUR,European Euro,20000.0,Yearly,22915.0,48.0,There's no schedule or spec; I work on what se...,Inadequate access to necessary tools;Not enoug...,"Less than half the time, but at least one day ...",Home,Far above average,No,NaN,"Yes, it's part of our process",Not sure,I have little or no influence,Go;HTML/CSS;Java;JavaScript;Other(s):,C++;Go;Java;Rust,Cassandra;MariaDB;PostgreSQL;SQLite,PostgreSQL,Docker;Linux,Docker;Linux,Spring;Vue.js,Spring;Vue.js,NaN,NaN,IntelliJ;Sublime Text,Linux-based,"Testing;Production;Outside of work, for person...",Implementing cryptocurrency-based products,A passing fad,Yes,SIGH,Yes,Reddit,In real life (in person),Username,2008,A few times per week,Find answers to specific questions;Learn how t...,1-2 times per week,They were about the same,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers,33.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Easy
88882,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Netherlands,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Participated in online coding competitions (e....,100 to 499 employees,Academic researcher;Database administrator;Dev...,10,15,8,Slightly dissatisfied,Very dissatisfied,Not at all confident,Yes,Yes,"I’m not actively looking, but I am open to new...",Less than a year ago,Write any code;Complete a take-home project;In...,No,Office environment or company culture;Remote w...,I had a negative experience or interaction at ...,EUR,European Euro,42768.0,Monthly,588012.0,40.0,There is a schedule and/or spec (made by me or...,Distracting work environment;Lack of support f...,Less than once per month / Never,Home,Far above average,"Yes, because I see value in code review",5.0,"Yes, it's part of our process",Not sure,I have little or no influence,C#;HTML/CSS;Java;JavaScript;PHP;Python,C#;Java;JavaScript;PHP,MariaDB;PostgreSQL,MariaDB;PostgreSQL,Android;Arduino;Linux;Raspberry Pi;WordPress,Android;Arduino;Linux;Raspberry Pi;WordPress,jQuery;React.js,jQuery;React.js,Unity 3D,Unity 3D,Android Studio;IntelliJ;Notepad++;Vim;Visual S...,Linux-based,I do not use containers,Not at all,A passing fad,Yes,Yes,Yes,Instagram,Neither,Username,2009,A few times per week,Find answers to specific questions,3-5 times per week,Stack Overflow was slightly faster,11-30 minutes,Yes,Less than once per month or monthly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy

In [78]:
# Adding or Removing row or column from dataframe

df2['Full_name'] = df2['FIRST_N'] + " " + df2['last_name']

df2

         email FIRST_N last_name Full_name
0  A@GMAIL.COM   Sandy         A   Sandy A
1  B@GMAIL.COM   Mandy         B   Mandy B
2  D@GMAIL.COM   Landy         L   Landy L

In [79]:
# to drop unwanted columns

df2.drop(columns=['FIRST_N','last_name'],inplace= True)

In [80]:
df2

         email Full_name
0  A@GMAIL.COM   Sandy A
1  B@GMAIL.COM   Mandy B
2  D@GMAIL.COM   Landy L

In [81]:
#Let we want to split the full_name column into two

df2['Full_name'].str.split(' ',expand=True)

       0  1
0  Sandy  A
1  Mandy  B
2  Landy  L

In [82]:
# assigning to dataframe

df2[['frist_name','last_name']] = df2['Full_name'].str.split(' ',expand=True)

In [83]:
df2

         email Full_name frist_name last_name
0  A@GMAIL.COM   Sandy A      Sandy         A
1  B@GMAIL.COM   Mandy B      Mandy         B
2  D@GMAIL.COM   Landy L      Landy         L

In [84]:
#Adding row

df2.append({'email':'c@gmail.com','Full_name':'Yandy Y'},ignore_index=True)

         email Full_name frist_name last_name
0  A@GMAIL.COM   Sandy A      Sandy         A
1  B@GMAIL.COM   Mandy B      Mandy         B
2  D@GMAIL.COM   Landy L      Landy         L
3  c@gmail.com   Yandy Y        NaN       NaN

In [85]:
#dropping particular row

df2.drop(index=2)

         email Full_name frist_name last_name
0  A@GMAIL.COM   Sandy A      Sandy         A
1  B@GMAIL.COM   Mandy B      Mandy         B

In [86]:
#Sorting Data

df2.sort_values(by='Full_name') #sorting only one column in ascending

         email Full_name frist_name last_name
2  D@GMAIL.COM   Landy L      Landy         L
1  B@GMAIL.COM   Mandy B      Mandy         B
0  A@GMAIL.COM   Sandy A      Sandy         A

In [87]:
#sorting multiple column in different order,let say one in ascending other in descending
#pass multiple items in list in by 
df2.sort_values(by=['Full_name','last_name'],ascending=[True,False])

         email Full_name frist_name last_name
2  D@GMAIL.COM   Landy L      Landy         L
1  B@GMAIL.COM   Mandy B      Mandy         B
0  A@GMAIL.COM   Sandy A      Sandy         A

In [88]:
#if we want to make change permanent , use inplace= True

#we can sort our index too

df2.sort_index()

         email Full_name frist_name last_name
0  A@GMAIL.COM   Sandy A      Sandy         A
1  B@GMAIL.COM   Mandy B      Mandy         B
2  D@GMAIL.COM   Landy L      Landy         L

In [89]:
#lets apply this on large data

df[['Country','SalaryUSD']].sort_values(by=['Country','SalaryUSD'],ascending=(True,False)).head(50)

                Country  SalaryUSD
Respondent
63129       Afghanistan  1000000.0
50499       Afghanistan   153216.0
39258       Afghanistan    19152.0
58450       Afghanistan    17556.0
7085        Afghanistan    14364.0
22450       Afghanistan     7980.0
48436       Afghanistan     4464.0
10746       Afghanistan     3996.0
8149        Afghanistan     1596.0
29736       Afghanistan     1116.0
28638       Afghanistan        0.0
722         Afghanistan        0.0
88731       Afghanistan        NaN
88582       Afghanistan        NaN
87091       Afghanistan        NaN
86932       Afghanistan        NaN
86362       Afghanistan        NaN
85825       Afghanistan        NaN
85715       Afghanistan        NaN
80926       Afghanistan        NaN
74386       Afghanistan        NaN
63019       Afghanistan        NaN
62525       Afghanistan        NaN
62168       Afghanistan        NaN
60946       Afghanistan        NaN
60569       Afghanistan        NaN
59560       Afghanistan        NaN
58760       Afghanistan        NaN
51859       Afghanistan        NaN
50767       Afghanistan        NaN
49702       Afghanistan        NaN
47110       Afghanistan        NaN
45854       Afghanistan        NaN
44403       Afghanistan        NaN
43106       Afghanistan        NaN
40000       Afghanistan        NaN
37802       Afghanistan        NaN
33178       Afghanistan        NaN
29045       Afghanistan        NaN
26340       Afghanistan        NaN
12310       Afghanistan        NaN
7353        Afghanistan        NaN
6417        Afghanistan        NaN
2782        Afghanistan        NaN
38308           Albania   187668.0
3787            Albania   114550.0
9270            Albania    74474.0
6716            Albania    60000.0
10303           Albania    57300.0
66280           Albania    41244.0

In [90]:
#If we want to see larges salary or any value in our data

df.nlargest(10,'SalaryUSD') # top 10 salary person with whole survery data

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,SalaryUSD,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
88877,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,500 to 999 employees,Data scientist or machine learning specialist;...,31,18,28,Very satisfied,Very satisfied,Very confident,Yes,Yes,"I’m not actively looking, but I am open to new...",More than 4 years ago,Interview with people in senior / management r...,Yes,"Industry that I'd be working in;Languages, fra...",I heard about a job opportunity (from a recrui...,USD,United States dollar,239000.0,Weekly,2000000.0,45.0,There is a schedule and/or spec (made by me or...,Meetings;Not enough people for the workload,Less than once per month / Never,Office,Far above average,"Yes, because I see value in code review",5.0,"No, but I think we should",Developers and management have nearly equal in...,I have some influence,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...,Bash/Shell/PowerShell;Clojure;HTML/CSS;Java;Ja...,Oracle,Oracle,Docker;iOS;Kubernetes;Linux;Slack;Windows;Othe...,Other(s):,Other(s):,Other(s):,Apache Spark,Apache Spark,Atom;Emacs;IntelliJ;IPython / Jupyter;PyCharm;...,Windows,Development;Testing;Production,Implementing cryptocurrency-based products,An irresponsible use of resources,Yes,Yes,No,Facebook,Online,Screen Name,NaN,A few times per month or weekly,Find answers to specific questions,Less than once per week,Stack Overflow was much faster,11-30 minutes,Yes,I have never participated in Q&A on Stack Over...,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,48.0,Man,No,Straight / Heterosexual,South Asian,Yes,Too long,Neither easy nor difficult
88874,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A social science (ex. anthropology, psychology...",Taken an online course in programming or softw...,"10,000 or more employees",Data scientist or machine learning specialist;...,7,19,4,Very satisfied,Very satisfied,NaN,NaN,NaN,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Sol...",No,Specific department or team I'd be working on;...,I was preparing for a job search,USD,United States dollar,185000.0,Weekly,2000000.0,50.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Not eno...,About half the time,Office,A little above average,"Yes, because I see value in code review",5.0,"Yes, it's part of our process",Developers and management have nearly equal in...,I have some influence,C++;Python;Scala;SQL,NaN,Elasticsearch;PostgreSQL;SQLite,NaN,AWS;Docker;Linux;MacOS;Slack,NaN,NaN,NaN,Apache Spark;Pandas;TensorFlow,NaN,IPython / Jupyter;PyCharm;Sublime Text;Vim,Linux-based,Development;Testing;Production,NaN,NaN,Yes,Yes,Yes,Reddit,In real life (in person),Username,2012,A few times per week,Find answers to specific questions;Learn how t...,1-2 times per week,Stack Overflow was much faster,60+ minutes,Yes,A few times per month or weekly,Yes,"No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,NaN,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88818,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,United States,No,Associate degree,Web development or web design,Taken an online course in programming or softw...,"1,000 to 4,999 employees","Database administrator;Developer, back-end;Dev...",9,13,7,Very satisfied,Slightly satisfied,Not at all confident,Yes,Yes,"I’m not actively looking, but I am open to new...",More than 4 years ago,Complete a take-home project;Interview with pe...,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,85000.0,Weekly,2000000.0,40.0,There's no schedule or spec; I work on what se...,Being tasked with non-development work;Lack of...,All or almost all the time (I'm full-time remote),Office,A little above average,"Yes, because I see value in code review",5.0,"No, but I think we should",Developers typically have the most influence o...,I have a great deal of influence,C#;HTML/CSS;JavaScript;SQL;TypeScript,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;S...,Elasticsearch;Microsoft SQL Server;Redis,Elasticsearch;Microsoft SQL Server;Redis;SQLite,Windows,Docker;Kubernetes;Linux,Angular/Angular.js;ASP.NET,Angular/Angular.js;Vue.js,.NET;.NET Core,Cordova;.NET Core,Visual Studio;Visual Studio Code,Windows,"Outside of work, for personal projects",Not at all,Useful across many domains and could change ma...,Yes,Yes,Yes,Reddit,Online,UserID,2011,Multiple times per day,Find answers to specific questions,3-5 times per week,Stack Overflow was much faster,11-30 minutes,No,NaN,Yes,"No, and I don't know what those are","No, not at all",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Easy
88815,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"1,000 to 4,999 employees","Developer, back-end;Developer, front-end;Devel...",6,6,3,Slightly satisfied,Neither satisfied nor dissatisfied,Somewhat confident,No,Not sure,"I’m not actively looking, but I am open to new...",Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,Office environment or company culture;Opportun...,I was preparing for a job search,USD,United States dollar,130000.0,Weekly,2000000.0,40.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Meetings,A few days each month,Office,A little above average,"Yes, because I see value in code review",2.0,"Yes, it's part of our process",Developers typically have the most influence o...,I have some influence,HTML/CSS;Java;JavaScript;Kotlin;Python;SQL,R;Ruby,Firebase;MySQL;PostgreSQL,Cassandra;Elasticsearch;MongoDB;Redis,AWS;Docker;Google Cloud Platform;Heroku;Kubern...,Docker;Kubernetes;Raspberry Pi,Angular/Angular.js;Spring,React.js;Spring,NaN,Hadoop;TensorFlow;Torch/PyTorch,IntelliJ;Vim;Visual Studio Code,MacOS,"Development;Production;Outside of work, for pe...",Not at all,Useful across many domains and could change ma...,Yes,"Fortunately, someone else has that title",Yes,Instagram,In real life (in person),UserID,2012,Multiple times per day,Find answers to specific questions;Get a sense...,1-2 times per week,Stack Overflow was slightly faster,0-10 minutes,Yes,A few times per week,Yes,"No, and I don't know what those are","Yes, definitely",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,27.0,Man,No,Straight / Heterosexual,South Asian,No,Too long,Neither easy nor difficult
88712,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,100 to 499 employees,"Developer, back-end;Developer, desktop or ente...",25,5,10,Neither satisfied nor dissatisfied,Slightly dissatisfied,Not at all confident,No,No,"I’m not actively looking, but I am open to new...",More than 4 years ago,"Write any code;Write code by hand (e.g., on a ...",No,Specific department or team I'd be working on;...,I heard about a job opportunity (from a recrui...,USD,United States dollar,95000.0,Weekly,2000000.0,40.0,There's no schedule or spec; I work on what se...,Being tasked with non-development work;Distrac...,A few days each month,Home,Far below average,No,NaN,"No, but I think we should","The CTO, CIO, or other management purchase new...",I have little or no influence,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,MariaDB;Microsoft SQL Server;MySQL;SQLite,MariaDB;Microsoft SQL Server;MySQL;SQLite,Linux;Windows,Linux;Windows,Drupal;jQuery,Drupal;jQuery,.NET;Node.js,.NET;Node.js,Notepad++;Vim;Visual Studio;Visual Studio Code,Linux-based,I do not use containers,Not at all,Useful across many domains and could change ma...,No,SIGH,Yes,YouTube,Online,Username,2008,Multiple times per day,Find answers to specific questions,6-10 times per week,Stack Overflow was much faster,0-10 minutes,Yes,A few times per month or weekly,Yes,"No, I've heard of them, but I am not part of a...","Yes, somewhat",Just as welcome now as I felt last year,NaN,36.0,Man,No,Straight / Heterosexual,East Asian;White or of European descent;Biracial,Yes,Too long,Easy
88457,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Developer, back-end;Developer, desktop or ente...",25,10,21,Very satisfied,Very satisfied,Very confident,No,Not sure,"I’m not actively looking, but I am open to new...",More than 4 years ago,"Write any code;Write code by hand (e.g., on a ...",No,Specific department or team I'd be working on;...,"Something else changed (education, award, medi...",USD,United States dollar,250000.0,Monthly,2000000.0,50.0,There is a schedule and/or spec (made by me or...,Meetings;Not enough people for the workload;Ti...,About half the time,Office,Far above average,"Yes, because I see value in code review",10.0,"Yes, it's part of our process","The CTO, CIO, or other management purchase new...",I have some influence,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,C#;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server;MySQL;Redis;SQLite,Microsoft SQL Server;MySQL;Redis;SQLite,Docker;Kubernetes;Linux;Microsoft Azure;Window...,Docker;Kubernetes;Linux;Microsoft Azure;Raspbe...,Angular/Angular.js;ASP.NET;jQuery;React.js,ASP.NET,.NET;.NET Core;Node.js,.NET;.NET Core;Node.js,Notepad++;Visual Studio;Visual Studio Code,Windows,Development;Testing,NaN,Useful for immutable record keeping outside of...,Yes,Also Yes,Yes,Facebook,Online,NaN,2008,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was slightly faster,11-30 minutes,Yes,A few times per week,Yes,Yes,"Yes, somewhat",Just as welcome now as I felt last year,Courses on technologies you're interested in,43.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
88388,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",Received on-the-job training in software devel...,20 to 99 employees,"Developer, desktop or enterprise applications;...",6,18,4,Very satisfied,Very satisfied,Very confident,Not sure,Yes,I am not interested in new job opportunities,More than 4 years ago,"Write code by hand (e.g., on a whiteboard)",No,Specific department or team I'd be working on;...,I was preparing for a job search,USD,United States dollar,62500.0,Weekly,2000000.0,40.0,There is a schedule and/or spec (made by me or...,Distracting work environment;Inadequate access...,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Not sure,I have little or no influence,C#;Java;Objective-C,C;C++;JavaScript;Kotlin;Swift,Microsoft SQL Server,Firebase,Android;iOS;Windows,Linux;Raspberry Pi,NaN,Angular/Angular.js;Express,NaN,Node.js;TensorFlow;Unity 3D,Android Studio;Notepad++;Visual Studio;Xcode,Windows,I do not use containers,Not at all,NaN,Yes,SIGH,Yes,Instagram,In real life (in person),Username,2013,A few times per week,Find answers to specific questions;Contribute ...,Less than once per week,Stack Overflow was slightly faster,11-30 minutes,Yes,Less than once per month or monthly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,25.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Too long,Neither easy nor difficult
88362,I am a developer by profession,No,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,2-9 employees,"Developer, desktop or enterprise applications;...",13,15,9,Slightly satisfied,Neither satisfied nor dissatisfied,Very confident,No,No,I am actively looking for a job,Less than a year ago,Interview with people in senior / management r...,No,Remote work options;Diversity of the company o...,"My job status changed (promotion, new job, etc.)",USD,United States dollar,110000.0,Weekly,2000000.0,42.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Meetings,Less than once per month / Never,Office,Average,"Yes, because I see value in code review",4.0,"No, but I think we should",Not sure,I have little or no influence,C#;HTML/CSS;JavaScript;SQL;TypeScript,Objective-C;Python;Swift,SQLite,MongoDB,AWS;Google Cloud Platform;Slack;Windows,Microsoft Azure,Angular/Angular.js;ASP.NET;jQuery,Vue.js,.NET;Node.js,.NET Core;Xamarin,Eclipse;Emacs;Notepad++;TextMate;Visual Studio...,Windows,Development,Not at all,Useful for immutable record keeping outside of...,Yes,Yes,Yes,YouTube,Online,Username,2011,Multiple times per day,Find answers to specific questions;Pass the ti...,Less than once per week,Stack Overflow was much faster,11-30 minutes,No,NaN,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Industry news about technologies you're intere...,40.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
88299,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Associate degree,"Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,"5,000 to 9,999 employees","Developer, back-end;Developer, full-stack;Syst...",7,14,3,Very satisfied,Slightly satisfied,Somewhat confident,Not sure,No,"I’m not actively looking, but I am open to new...",Less than a year ago,Interview with people in peer roles;Interview ...,No,"Languages, frameworks, and other technologies ...",I heard about a job opportunity (from a recrui...,USD,United States dollar,85000.0,Weekly,2000000.0,40.0,There is a schedule and/or spec (made by me or...,Distracting work environment;Meetings;Toxic wo...,All or almost all the time (I'm full-time remote),Home,A little above average,"Yes, because I see value in code review",1.0,"No, but I think we should","The CTO, CIO, or other management purchase new...",I have little or no influence,C#;Go;Python;SQL,Go;Rust,MySQL;PostgreSQL;SQLite,Elasticsearch;MongoDB;MySQL;PostgreSQL;Redis;S...,Android;AWS;Docker;Google Cloud Platform;iOS;L...,Android;AWS;Docker;Google Cloud Platform;iOS;K...,Angular/Angular.js,Ruby on Rails,.NET;Xamarin,Hadoop;TensorFlow;Unity 3D;Xamarin,Visual Studio;Visual Studio Code,Windows,"Outside of work, for personal projects",Non-currency applications of blockchain,Useful across many domains and could change ma...,Yes,SIGH,Yes,YouTube,In real life (in person),Username,2012,Multiple times per day,Find answers to specific questions;Pass the ti...,6-10 times per week,Stack Overflow was much faster,11-30 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Bisexual;Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88084,I am a developer by profession,No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Fine arts or performing arts (ex. graphic desi...,Taken an online course in programming or softw...,20 to 99 employees,"Designer;Developer, front-end;Developer, game ...",4,16,2,Slightly satisfied,Slightly satisfied,Very confident,Yes,Yes,"I’m not actively looking, but I am open to new...",Less than a year ago,Interview with people in peer roles;Interview ...,No,"Languages, frameworks, and other technologies ...","My job status changed (promotion, new job, etc.)",USD,United States dollar,102505.0,Weekly,2000000.0,40.0,There is a schedule and/or spec (made by me or...,Lack of support from management;Not enough peo...,A few days each month,Office,A little below average,"Yes, because I see value in code review",2.0,"Yes, it's not part of our process but the deve...",Developers and management have nearly equal in...,I have some influence,HTML/CSS;JavaScript;Python;Swift;TypeScript,HTML/CSS;JavaScript;Python;WebAssembly,MongoDB;PostgreSQL,NaN,Android;AWS;Heroku;iOS;Raspberry Pi;WordPress,Android;Heroku;iOS;Raspberry Pi,Angular/Angular.js;Django;jQuery;Vue.js,Angular/Angular.js;Vue.js,Node.js,NaN,Atom;Xcode,MacOS,I do not use containers,Not at all,Useful for immutable record keeping outside of...,No,SIGH,Yes,Facebook,In real life (in person),Username,2016,A few times per week,Find answers to specific questions;Contribute ...,1-2 times per week,They were about the same,NaN,Yes,I have never participated in Q&A on Stack Over...,Yes,"No, I've heard of them, but I am not part of a...","No, not really",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult

# Grouping and Aggregating - Analyzing and Exploring Your Data

In [91]:
df.median()

CompTotal      62000.0
SalaryUSD      57287.0
WorkWeekHrs       40.0
CodeRevHrs         4.0
Age               29.0
dtype: float64

In [92]:
df.describe()

          CompTotal     SalaryUSD   WorkWeekHrs    CodeRevHrs           Age
count  5.594500e+04  5.582300e+04  64503.000000  49790.000000  79210.000000
mean   5.519014e+11  1.271107e+05     42.127197      5.084308     30.336699
std    7.331926e+13  2.841523e+05     37.287610      5.513931      9.178390
min    0.000000e+00  0.000000e+00      1.000000      0.000000      1.000000
25%    2.000000e+04  2.577750e+04     40.000000      2.000000     24.000000
50%    6.200000e+04  5.728700e+04     40.000000      4.000000     29.000000
75%    1.200000e+05  1.000000e+05     44.750000      6.000000     35.000000
max    1.000000e+16  2.000000e+06   4850.000000     99.000000     99.000000

In [93]:
#if we want the count of any columns for no null entry

df['SalaryUSD'].count()

55823

In [94]:
#count of unique entries in column

df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [95]:
#Which soical media is most popular

df['SocialMedia'].value_counts()

Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat 微信                     667
Snapchat                      628
VK ВКонта́кте                 603
Weibo 新浪微博                     56
Youku Tudou 优酷                 21
Hello                          19
Name: SocialMedia, dtype: int64

In [96]:
#if we want to see this info based on each country then?

Country_grp=df.groupby(by='Country')

In [97]:
Country_grp['SocialMedia'].value_counts().head(50)

Country              SocialMedia
Afghanistan          Facebook                     15
                     YouTube                       9
                     I don't use social media      6
                     WhatsApp                      4
                     Instagram                     1
                     LinkedIn                      1
                     Twitter                       1
Albania              WhatsApp                     18
                     Facebook                     16
                     Instagram                    13
                     YouTube                      10
                     Twitter                       8
                     LinkedIn                      7
                     Reddit                        6
                     I don't use social media      4
                     Snapchat                      1
                     WeChat 微信                     1
Algeria              YouTube                      42
                     Facebook                     41
                     Twitter                      14
                     LinkedIn                      9
                     I don't use social media      7
                     Instagram                     7
                     Reddit                        2
                     WhatsApp                      2
Andorra              Facebook                      2
                     I don't use social media      2
                     Reddit                        1
                     Snapchat                      1
                     YouTube                       1
Angola               Twitter                       2
                     Facebook                      1
                     YouTube                       1
Antigua and Barbuda  YouTube                       2
                     Facebook                      1
                     Instagram                     1
                     Twitter                       1
                     VK ВКонта́кте                 1
Argentina            WhatsApp                    202
                     Twitter                      80
                     YouTube                      62
                     Instagram                    53
                     Reddit                       50
                     Facebook                     45
                     I don't use social media     22
                     LinkedIn                     16
Armenia              Facebook                     38
                     YouTube                      23
                     LinkedIn                      5
                     Instagram                     3
Name: SocialMedia, dtype: int64

In [98]:
#and with same thing if want to see this info for any specific country or item

Country_grp['SocialMedia'].value_counts().loc['India']

SocialMedia
WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
Hello                          5
WeChat 微信                      5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: SocialMedia, dtype: int64

In [99]:
#to see in percent , like here whata app usage is 34.23%

Country_grp['SocialMedia'].value_counts(normalize=True).loc['India']

SocialMedia
WhatsApp                    0.342379
YouTube                     0.208405
LinkedIn                    0.109355
Facebook                    0.096301
Instagram                   0.094126
Twitter                     0.062063
Reddit                      0.054162
I don't use social media    0.028627
Snapchat                    0.002634
Hello                       0.000573
WeChat 微信                   0.000573
VK ВКонта́кте               0.000458
Youku Tudou 优酷              0.000229
Weibo 新浪微博                  0.000115
Name: SocialMedia, dtype: float64

In [100]:
#lETS SEE MEDIA SALARY PER COUNTRY

Country_grp['SalaryUSD'].median()

Country
Afghanistan                               6222.0
Albania                                  10818.0
Algeria                                   7878.0
Andorra                                 160931.0
Angola                                    7764.0
                                          ...
Venezuela, Bolivarian Republic of...      6384.0
Viet Nam                                 11892.0
Yemen                                    11940.0
Zambia                                    5040.0
Zimbabwe                                 19200.0
Name: SalaryUSD, Length: 179, dtype: float64

In [101]:
Country_grp.median()

,CompTotal,SalaryUSD,WorkWeekHrs,CodeRevHrs,Age
Country,,,,,
Afghanistan,39000.0,6222.0,45.0,8.0,25.0
Albania,65000.0,10818.0,40.0,5.0,24.0
Algeria,55000.0,7878.0,40.0,4.0,25.0
Andorra,76500.0,160931.0,42.0,2.5,21.5
Angola,202000.0,7764.0,45.0,10.0,23.0
...,...,...,...,...,...
"Venezuela, Bolivarian Republic of...",1000.0,6384.0,40.0,5.0,25.0
Viet Nam,15000000.0,11892.0,40.0,5.0,25.0
Yemen,125000.0,11940.0,40.0,5.0,27.0
Zambia,5000.0,5040.0,40.0,10.0,26.0
Zimbabwe,1600.0,19200.0,46.5,10.0,26.0

In [102]:
Country_grp['SalaryUSD'].agg(['median','mean','max','min'])

,median,mean,max,min
Country,,,,
Afghanistan,6222.0,101953.333333,1000000.0,0.0
Albania,10818.0,21833.700000,187668.0,1320.0
Algeria,7878.0,34924.047619,1000000.0,0.0
Andorra,160931.0,160931.000000,171862.0,150000.0
Angola,7764.0,7764.000000,7764.0,7764.0
...,...,...,...,...
"Venezuela, Bolivarian Republic of...",6384.0,14581.627907,137484.0,0.0
Viet Nam,11892.0,17233.436782,140000.0,200.0
Yemen,11940.0,16909.166667,60000.0,799.0
Zambia,5040.0,10075.375000,40524.0,400.0
Zimbabwe,19200.0,34046.666667,180000.0,900.0

In [103]:
#Lets find some more tedius thing, > how many person put they know python as language 

Country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [104]:
#or want to see this for specific country

Country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum()).loc['India']

3105

In [105]:
# lets see how many pepole respond from each country

country_responders = df['Country'].value_counts()
country_responders

United States                       20949
India                                9061
Germany                              5866
United Kingdom                       5737
Canada                               3395
                                    ...
Brunei Darussalam                       1
Dominica                                1
Saint Vincent and the Grenadines        1
Tonga                                   1
Timor-Leste                             1
Name: Country, Length: 179, dtype: int64

In [106]:
#how many people know python from each country

Python_know_countryperson =Country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
Python_know_countryperson

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [107]:
python_df = pd.concat([country_responders,Python_know_countryperson],axis='columns',sort=False)
python_df

                                  Country  LanguageWorkedWith
United States                       20949               10083
India                                9061                3105
Germany                              5866                2451
United Kingdom                       5737                2384
Canada                               3395                1558
...                                   ...                 ...
Brunei Darussalam                       1                   0
Dominica                                1                   1
Saint Vincent and the Grenadines        1                   0
Tonga                                   1                   0
Timor-Leste                             1                   1

[179 rows x 2 columns]

In [108]:
python_df.rename(columns={'Country':'NumofRespondant','LanguageWorkedWith':'Numknowspython'},inplace=True)
python_df

                                  NumofRespondant  Numknowspython
United States                               20949           10083
India                                        9061            3105
Germany                                      5866            2451
United Kingdom                               5737            2384
Canada                                       3395            1558
...                                           ...             ...
Brunei Darussalam                               1               0
Dominica                                        1               1
Saint Vincent and the Grenadines                1               0
Tonga                                           1               0
Timor-Leste                                     1               1

[179 rows x 2 columns]

In [109]:
python_df['%knowspython']=(python_df['Numknowspython']/python_df['NumofRespondant'])*100

In [110]:
python_df

,NumofRespondant,Numknowspython,%knowspython
United States,20949,10083,48.131176
India,9061,3105,34.267741
Germany,5866,2451,41.783157
United Kingdom,5737,2384,41.554820
Canada,3395,1558,45.891016
...,...,...,...
Brunei Darussalam,1,0,0.000000
Dominica,1,1,100.000000
Saint Vincent and the Grenadines,1,0,0.000000
Tonga,1,0,0.000000
Timor-Leste,1,1,100.000000

In [111]:
python_df.sort_values(by='%knowspython',ascending=False).head(30)

                           NumofRespondant  Numknowspython  %knowspython
Timor-Leste                              1               1    100.000000
Dominica                                 1               1    100.000000
Niger                                    1               1    100.000000
Sao Tome and Principe                    1               1    100.000000
Turkmenistan                             7               6     85.714286
Mauritania                               7               5     71.428571
Guinea                                   3               2     66.666667
Bahamas                                  3               2     66.666667
Guyana                                   3               2     66.666667
Uganda                                  72              47     65.277778
Iceland                                 49              30     61.224490
Haiti                                    5               3     60.000000
Namibia                                  5               3     60.000000
Benin                                    5               3     60.000000
Congo, Republic of the...                7               4     57.142857
Oman                                    11               6     54.545455
Cuba                                    30              16     53.333333
Republic of Korea                       39              20     51.282051
Monaco                                   4               2     50.000000
Sierra Leone                             2               1     50.000000
San Marino                               2               1     50.000000
Seychelles                               2               1     50.000000
Bhutan                                   2               1     50.000000
South Korea                            160              80     50.000000
Chile                                  206             102     49.514563
Finland                                546             266     48.717949
Kenya                                  249             120     48.192771
United States                        20949           10083     48.131176
Israel                                 952             457     48.004202
Ecuador                                 82              39     47.560976

In [119]:
#Cleaning Data

df.columns.sort_values(ascending=True)

Index(['Age', 'Age1stCode', 'BetterLife', 'BlockchainIs', 'BlockchainOrg',
       'CareerSat', 'CodeRev', 'CodeRevHrs', 'CompFreq', 'CompTotal',
       'Containers', 'Country', 'CurrencyDesc', 'CurrencySymbol',
       'DatabaseDesireNextYear', 'DatabaseWorkedWith', 'Dependents',
       'DevEnviron', 'DevType', 'EdLevel', 'EduOther', 'Employment',
       'EntTeams', 'Ethnicity', 'Extraversion', 'FizzBuzz', 'Gender',
       'Hobbyist', 'ITperson', 'ImpSyn', 'JobFactors', 'JobSat', 'JobSeek',
       'LanguageDesireNextYear', 'LanguageWorkedWith', 'LastHireDate',
       'LastInt', 'MainBranch', 'MgrIdiot', 'MgrMoney', 'MgrWant',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith', 'OffOn', 'OpSys',
       'OpenSource', 'OpenSourcer', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseHow', 'PurchaseWhat', 'ResumeUpdate',
       'SOAccount', 'SOComm', 'SOFindAnswer', 'SOHowMuchTime', 'SOJobs',
       'SONewContent', 'SOPartFreq', 'SOTimeSaved', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SalaryUSD', 'ScreenName', 'Sexuality',
       'SocialMedia', 'Student', 'SurveyEase', 'SurveyLength', 'Trans',
       'UndergradMajor', 'UnitTests', 'WebFrameDesireNextYear',
       'WebFrameWorkedWith', 'WelcomeChange', 'WorkChallenge', 'WorkLoc',
       'WorkPlan', 'WorkRemote', 'WorkWeekHrs', 'YearsCode', 'YearsCodePro'],
      dtype='object')

In [123]:
#let pick columns : "YearsCode"

df.reset_index(inplace=True)

In [125]:
df['YearsCode'].head(50)

0       9
1      10
2      18
3      20
4      17
5      12
6      31
7       8
8      13
9       7
10     27
11      7
12      5
13      5
14    NaN
15     15
16     14
17     12
18     15
19      3
20      8
21      3
22     19
23     14
24      6
25      7
26     15
27      5
28      9
29     38
30      8
31      4
32      1
33     14
34     19
35     12
36     11
37      6
38     20
39     15
40      9
41      8
42     13
43      4
44     12
45     10
46     16
47     10
48     26
49     35
Name: YearsCode, dtype: object

In [127]:
#Lets try to get average of year of coding

df['YearsCode'].mean()

TypeError: can only concatenate str (not "int") to str

In [132]:
# TypeError: can only concatenate str (not "int") to str

#lets see type of the column first

df['YearsCode'].dtype

dtype('O')

In [133]:
# It shows that type of column is object it means it hold string values not int or float

#lets convert it to get average value

df['YearsCode'].astype('float')

ValueError: could not convert string to float: 'Less than 1 year'

In [136]:
#it says : could not convert string to float: 'Less than 1 year'

#it means it has some value which can't be converted to float

#lets look on each unique value first

df['YearsCode'].unique()

array(['9', '10', '18', '20', '17', '12', '31', '8', '13', '7', '27', '5',
       nan, '15', '14', '3', '19', '6', '38', '4', '1', '11', '16', '26',
       '35', '28', 'Less than 1 year', '2', '32', '21', '22', '36', '39',
       '29', '25', '30', '47', '23', '40', '24', '34', '42', '45', '41',
       '44', '33', 'More than 50 years', '37', '43', '50', '48', '49',
       '46'], dtype=object)

In [139]:
#yes it has null values with text string data lets eliminate or change that

df['YearsCode'].replace('Less than 1 year',0,inplace=True)
df['YearsCode'].replace('More than 50 years',51,inplace=True)

In [141]:
df['YearsCode'].unique()

array(['9', '10', '18', '20', '17', '12', '31', '8', '13', '7', '27', '5',
       nan, '15', '14', '3', '19', '6', '38', '4', '1', '11', '16', '26',
       '35', '28', 0, '2', '32', '21', '22', '36', '39', '29', '25', '30',
       '47', '23', '40', '24', '34', '42', '45', '41', '44', '33', 51,
       '37', '43', '50', '48', '49', '46'], dtype=object)

In [144]:
#Now all are  object type lets convert it to get average

df['YearsCode']=df['YearsCode'].astype(float)

In [150]:
df['YearsCode'].mean()

11.662114216834588

In [151]:
df['YearsCode'].median()

9.0

In [152]:
#Lets create one dataframe to check how to handle missing value
import numpy as np
people = {'first_name':['Sandy','Mandy','Randy',np.nan,None,'NA'],
          'last_name' :['A','B','C',np.nan,np.nan,'missing'],
          'email' : ['a@gmail.com','b@gmail.com','c@gmail.com',None,np.nan,np.nan],
           'age'  : ['10','20','30',None,None,'missing']}

In [153]:
pep = pd.DataFrame(people)

In [154]:
pep

  first_name last_name        email      age
0      Sandy         A  a@gmail.com       10
1      Mandy         B  b@gmail.com       20
2      Randy         C  c@gmail.com       30
3        NaN       NaN         None     None
4       None       NaN          NaN     None
5         NA   missing          NaN  missing

In [156]:
# This data frame has bunch of missing value and custom missing value

pep.dtypes # it shows type of each columns

first_name    object
last_name     object
email         object
age           object
dtype: object

In [159]:
pep.isna()  # to check which type it consider as missing or na value

   first_name  last_name  email    age
0       False      False  False  False
1       False      False  False  False
2       False      False  False  False
3        True       True   True   True
4        True       True   True   True
5       False      False   True  False

In [160]:
pep.isnull()

   first_name  last_name  email    age
0       False      False  False  False
1       False      False  False  False
2       False      False  False  False
3        True       True   True   True
4        True       True   True   True
5       False      False   True  False

In [163]:
#if we want to drop all null value in our dataset, but it is not ideal thing to do with missig value

pep.dropna()

  first_name last_name        email age
0      Sandy         A  a@gmail.com  10
1      Mandy         B  b@gmail.com  20
2      Randy         C  c@gmail.com  30

In [165]:
pep.dropna(axis=0,how='all') # in this case untill whole row won't null , it won't drop

  first_name last_name        email      age
0      Sandy         A  a@gmail.com       10
1      Mandy         B  b@gmail.com       20
2      Randy         C  c@gmail.com       30
5         NA   missing          NaN  missing

In [167]:
# this same thing we can along column

pep.dropna(axis=1,how='all') # axis = 0,1 means row, column respectively

  first_name last_name        email      age
0      Sandy         A  a@gmail.com       10
1      Mandy         B  b@gmail.com       20
2      Randy         C  c@gmail.com       30
3        NaN       NaN         None     None
4       None       NaN          NaN     None
5         NA   missing          NaN  missing

In [169]:
pep.dropna(axis=1,how='any') # if any null value drop in column

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5]

In [171]:
pep # we can target specific column or row too w.r.t axis

  first_name last_name        email      age
0      Sandy         A  a@gmail.com       10
1      Mandy         B  b@gmail.com       20
2      Randy         C  c@gmail.com       30
3        NaN       NaN         None     None
4       None       NaN          NaN     None
5         NA   missing          NaN  missing

In [175]:
pep.dropna(axis=0,how='any',subset=['email']) # if any null value in email then remove that row

  first_name last_name        email age
0      Sandy         A  a@gmail.com  10
1      Mandy         B  b@gmail.com  20
2      Randy         C  c@gmail.com  30

In [178]:
# we can target multiple columns too

pep.dropna(axis=0,how='all',subset=['email','last_name']) #if both missing together than remove row

  first_name last_name        email      age
0      Sandy         A  a@gmail.com       10
1      Mandy         B  b@gmail.com       20
2      Randy         C  c@gmail.com       30
5         NA   missing          NaN  missing

In [184]:
#how to remove custom missing values

pep.replace(['NA','missing'],np.nan,inplace=True)

In [185]:
pep

  first_name last_name        email   age
0      Sandy         A  a@gmail.com    10
1      Mandy         B  b@gmail.com    20
2      Randy         C  c@gmail.com    30
3        NaN       NaN         None  None
4       None       NaN          NaN  None
5        NaN       NaN          NaN   NaN

In [187]:
pep.dropna(axis=0,how='any',subset=['email','last_name'],inplace=True)

In [188]:
pep # you can see now we cleaned our data

  first_name last_name        email age
0      Sandy         A  a@gmail.com  10
1      Mandy         B  b@gmail.com  20
2      Randy         C  c@gmail.com  30

In [193]:
#now lets find average of age

pep.dtypes

first_name    object
last_name     object
email         object
age           object
dtype: object

In [199]:
pep['age'].mean()

34010.0

In [201]:
#it shows wrong mean bcoz data type of age is not in int or float

#lets change it

pep['age']=pep['age'].astype(float)

In [205]:
pep['age'].mean() # now we are getting correct average for age

20.0