In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('http://bit.ly/uforeports')
df.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [4]:
df.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
dtype: object

In [5]:
#here Time column is stored as string instead of Datetime format

In [6]:
#lets change it to date format

df['Time'] = pd.to_datetime(df['Time'])

df.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

In [7]:
#now we can see that time column format also changed lets verify it datatype


df.dtypes

City                       object
Colors Reported            object
Shape Reported             object
State                      object
Time               datetime64[ns]
dtype: object

In [8]:
#yes indeed its date type column

In [10]:
#now we can get the values from date as per our use case.


df.Time.dt.year

0        1930
1        1930
2        1931
3        1931
4        1933
         ...
18236    2000
18237    2000
18238    2000
18239    2000
18240    2000
Name: Time, Length: 18241, dtype: int64

In [13]:
df.Time.dt.month

0         6
1         6
2         2
3         6
4         4
         ..
18236    12
18237    12
18238    12
18239    12
18240    12
Name: Time, Length: 18241, dtype: int64

In [14]:
df.Time.dt.weekday_name

0         Sunday
1         Monday
2         Sunday
3         Monday
4        Tuesday
          ...
18236     Sunday
18237     Sunday
18238     Sunday
18239     Sunday
18240     Sunday
Name: Time, Length: 18241, dtype: object

In [15]:
#e.g 

d =pd.to_datetime('2020/11/06')

In [29]:
d.week

45

In [26]:
d.month_name()

'November'

In [31]:
d.year

2020

In [39]:
d.dayofyear

311

In [36]:
d.weekday_name

C:\Users\sangarg\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: `weekday_name` is deprecated and will be removed in a future version. Use `day_name` instead
  """Entry point for launching an IPython kernel.

'Friday'