In [1]:
import pandas as pd

In [2]:
#How we can read only required columns while reading the data so that we can avoid other chunk while reading itself


movies = pd.read_csv('http://bit.ly/imdbratings')

movies.columns  #to check the column names only here

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [3]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [4]:
#Now lets call only three columns while reading itself 

movies1 = pd.read_csv('http://bit.ly/imdbratings',usecols=['star_rating','title','genre'])

movies1.head()

   star_rating                     title   genre
0          9.3  The Shawshank Redemption   Crime
1          9.2             The Godfather   Crime
2          9.1    The Godfather: Part II   Crime
3          9.0           The Dark Knight  Action
4          8.9              Pulp Fiction   Crime

In [5]:
#Ta da we got dataframe with required columns only

In [7]:
# Now lets assume our data is very huge and before importing data we want to explore our data and wanted to grab
#only few rows to check the data..... let see how we can do that


movies2 = pd.read_csv('http://bit.ly/imdbratings',nrows = 10)
movies2

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."

In [18]:
#we can use loop to get specifc columns to


for index,col in movies2.iterrows():
    print(index,col.star_rating,col.title)

0 9.3 The Shawshank Redemption
1 9.2 The Godfather
2 9.1 The Godfather: Part II
3 9.0 The Dark Knight
4 8.9 Pulp Fiction
5 8.9 12 Angry Men
6 8.9 The Good, the Bad and the Ugly
7 8.9 The Lord of the Rings: The Return of the King
8 8.9 Schindler's List
9 8.9 Fight Club

In [41]:
movies3 = movies[movies['title'].str.contains('Man')]   #dataframe with title which has Man substring in it

In [42]:
movies3.head(20)

,star_rating,title,content_rating,genre,duration,actors_list
105,8.3,The Third Man,NOT RATED,Film-Noir,93,"[u'Orson Welles', u'Joseph Cotten', u'Alida Va..."
148,8.2,The Elephant Man,PG,Biography,124,"[u'Anthony Hopkins', u'John Hurt', u'Anne Banc..."
235,8.1,Yip Man,R,Action,106,"[u'Donnie Yen', u'Simon Yam', u'Siu-Wong Fan']"
251,8.1,The Man Who Shot Liberty Valance,APPROVED,Drama,123,"[u'James Stewart', u'John Wayne', u'Vera Miles']"
292,8.1,The Manchurian Candidate,APPROVED,Mystery,126,"[u'Frank Sinatra', u'Laurence Harvey', u'Janet..."
319,8.0,Manhattan,R,Comedy,96,"[u'Woody Allen', u'Diane Keaton', u'Mariel Hem..."
325,8.0,Rain Man,R,Drama,133,"[u'Dustin Hoffman', u'Tom Cruise', u'Valeria G..."
341,8.0,Cinderella Man,PG-13,Biography,144,"[u'Russell Crowe', u'Ren\xe9e Zellweger', u'Cr..."
345,8.0,No Man's Land,R,Drama,98,"[u'Branko Djuric', u'Rene Bitorajac', u'Filip ..."
420,7.9,The Man Who Would Be King,PG,Action,129,"[u'Sean Connery', u'Michael Caine', u'Christop..."
434,7.9,Iron Man,PG-13,Action,126,"[u'Robert Downey Jr.', u'Gwyneth Paltrow', u'T..."
452,7.9,The Man from Nowhere,R,Action,119,"[u'Bin Won', u'Sae-ron Kim', u'Tae-hoon Kim']"
581,7.8,Man on Fire,R,Action,146,"[u'Denzel Washington', u'Christopher Walken', ..."
594,7.7,Dead Man,R,Drama,121,"[u'Johnny Depp', u'Gary Farmer', u'Crispin Glo..."
688,7.7,The Wicker Man,R,Horror,88,"[u'Edward Woodward', u'Christopher Lee', u'Dia..."
697,7.7,Inside Man,R,Crime,129,"[u'Denzel Washington', u'Clive Owen', u'Jodie ..."
715,7.6,Man Bites Dog,NC-17,Comedy,95,"[u'Beno\xeet Poelvoorde', u'Jacqueline Poelvoo..."
746,7.6,The Man Who Wasn't There,R,Crime,116,"[u'Billy Bob Thornton', u'Frances McDormand', ..."
765,7.6,Ip Man 2,R,Action,108,"[u'Donnie Yen', u'Xiaoming Huang', u'Sammo Kam..."
774,7.6,A Single Man,R,Drama,99,"[u'Colin Firth', u'Julianne Moore', u'Matthew ..."

In [50]:
movies3.loc[0:,'actors_list'] = movies3['actors_list'].str.replace('[','(').str.replace(']',')')

In [53]:
movies3.head()  # you will notice that now star square brackets gets changed into normal brackets

,star_rating,title,content_rating,genre,duration,actors_list
105,8.3,The Third Man,NOT RATED,Film-Noir,93,"(u'Orson Welles', u'Joseph Cotten', u'Alida Va..."
148,8.2,The Elephant Man,PG,Biography,124,"(u'Anthony Hopkins', u'John Hurt', u'Anne Banc..."
235,8.1,Yip Man,R,Action,106,"(u'Donnie Yen', u'Simon Yam', u'Siu-Wong Fan')"
251,8.1,The Man Who Shot Liberty Valance,APPROVED,Drama,123,"(u'James Stewart', u'John Wayne', u'Vera Miles')"
292,8.1,The Manchurian Candidate,APPROVED,Mystery,126,"(u'Frank Sinatra', u'Laurence Harvey', u'Janet..."