In [1]:
import pandas as pd

In [2]:
A = pd.DataFrame({'Color':['green','yellow','pink'],'Type':['Shirt','T-shirt','Polo']})

In [3]:
A

    Color     Type
0   green    Shirt
1  yellow  T-shirt
2    pink     Polo

In [4]:
B = pd.DataFrame({'Color':['green','yellow','pink'],'Size':['M','XL','L']})
B

    Color Size
0   green    M
1  yellow   XL
2    pink    L

In [5]:
df = pd.merge(A,B,left_on = 'Color',right_on = 'Color')

In [6]:
df

    Color     Type Size
0   green    Shirt    M
1  yellow  T-shirt   XL
2    pink     Polo    L

In [7]:
#No we can see that we have new data frame with three columns

# There is four types of joins similar to sql - inner,left,right, full

In [8]:
C = pd.DataFrame({'Color':['green','yellow','pink','red','Blue','Violet'],'Type':['Shirt','T-shirt','Polo','pant','T-shirt(V neck)','Cargo']})

In [9]:
C

    Color             Type
0   green            Shirt
1  yellow          T-shirt
2    pink             Polo
3     red             pant
4    Blue  T-shirt(V neck)
5  Violet            Cargo

In [10]:
D = pd.DataFrame({'Color':['green','yellow','Dark Blue','pink','Cyan','Brown'],'Size':['M','XL','L','S','XXL','L']})

In [11]:
D

       Color Size
0      green    M
1     yellow   XL
2  Dark Blue    L
3       pink    S
4       Cyan  XXL
5      Brown    L

In [13]:
#Inner join 


df_inner = pd.merge(C,D,how='inner',left_on = 'Color',right_on = 'Color')

df_inner

    Color     Type Size
0   green    Shirt    M
1  yellow  T-shirt   XL
2    pink     Polo    S

In [14]:
#we can see that we get rows where there is match in both else its excluded the rows

In [17]:
#left join 
df_left = pd.merge(C,D,how='left',left_on = 'Color',right_on = 'Color')

df_left

    Color             Type Size
0   green            Shirt    M
1  yellow          T-shirt   XL
2    pink             Polo    S
3     red             pant  NaN
4    Blue  T-shirt(V neck)  NaN
5  Violet            Cargo  NaN

In [18]:
#we get the all rows from left dataset but from right one we gets value which matched with left one on color column

In [19]:
#right join 
df_right = pd.merge(C,D,how='right',left_on = 'Color',right_on = 'Color')

df_right

       Color     Type Size
0      green    Shirt    M
1     yellow  T-shirt   XL
2       pink     Polo    S
3  Dark Blue      NaN    L
4       Cyan      NaN  XXL
5      Brown      NaN    L

In [20]:
#reverse of left join

In [21]:
#Full outer join 
df_outer = pd.merge(C,D,how='outer',left_on = 'Color',right_on = 'Color')

df_outer

       Color             Type Size
0      green            Shirt    M
1     yellow          T-shirt   XL
2       pink             Polo    S
3        red             pant  NaN
4       Blue  T-shirt(V neck)  NaN
5     Violet            Cargo  NaN
6  Dark Blue              NaN    L
7       Cyan              NaN  XXL
8      Brown              NaN    L

In [22]:
#In full outer join we'll get the complete from both the set, its like a union all