#Sets

Sets are an unordered collection of unique elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [1]:
x= set()

In [2]:
x

set()

In [3]:
x.add(1)

In [4]:
x.add(2)

In [5]:
x

{1, 2}

In [6]:
#let see when we try to add same element which already exists in set

x.add(2)

In [7]:
x

{1, 2}

In [10]:
#it means set contains only unqiue values 

#lets see by some other example

list1 = [1,1,1,1,2,22,2,2,3,3,3,3,33]

In [11]:
list1

[1, 1, 1, 1, 2, 22, 2, 2, 3, 3, 3, 3, 33]

In [12]:
set(list1)

{1, 2, 3, 22, 33}


Booleans

Python comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [13]:
1>2

False

In [14]:
2==2

True

In [15]:
2=2

SyntaxError: can't assign to literal (<ipython-input-15-f987af612b42>, line 1)

In [16]:
#We can use None as a placeholder for an object that we don't want to reassign yet:

# None placeholder
b = None

In [17]:
print(b)

None

Thats it! You should now have a basic understanding of Python objects and data structure types. Next, go ahead and do the assessment test!