
Objects and Data Structures Assessment Test
Test your knowledge.

Answer the following questions

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: are combination of interger values without decimal.

Strings: A string is a data type used in programming, such as an integer and floating point unit, but is used to represent text rather than numbers.

Lists: list is mutable in which each item is a combination of mutiple data types i.e it could be combination of number,floats,text

Tuples: it is Immutable in which data set could be of any type.

Dictionaries: it i mutable unordered set in which data set could be combination of any type i.e number,text and float

Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [2]:
((10+10)*5)+0.25

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

What is the value of the expression 4 * (6 + 5)

What is the value of the expression 4 * 6 + 5 

What is the value of the expression 4 + 6 * 5

In [5]:
4 * (6 + 5)

44

In [6]:
4 * 6 + 5

29

In [7]:
4 + 6 * 5

34

In [11]:
X=3 + 1.5 + 4

In [15]:
type(X)

float

In [16]:
# Square root:
100 ** 0.5

10.0

In [17]:
#square root
100**2

10000


StringsÂ¶

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [18]:
s='hello'

In [19]:
s[1]

'e'

In [23]:
s[::-1]

'olleh'

In [27]:
s[::]

'hello'

In [28]:
#Given the string hello, give two methods of producing the letter 'o' using indexing.

s[4]

'o'

In [29]:
s[-1]

'o'


Lists

Build this list [0,0,0] two separate ways.

In [30]:
[0]*3

[0, 0, 0]

In [31]:
[0,0,0]

[0, 0, 0]

In [32]:
#Reassign 'hello' in this nested list to say 'goodbye' instead:
list3 = [1,2,[3,4,'hello']]

In [36]:
list3[2][2] = 'goodbye'

In [37]:
list3

[1, 2, [3, 4, 'goodbye']]

In [38]:
#Sort the list below:

list4= [5,3,1,2,4]

In [40]:
list4

[5, 3, 1, 2, 4]

In [41]:
list4.sort()

In [42]:
list4

[1, 2, 3, 4, 5]


Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [43]:
d = {'simple_key':'hello'}
# Grab 'hello'

In [44]:
d

{'simple_key': 'hello'}

In [45]:
d['simple_key']

'hello'

In [46]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

In [47]:
d

{'k1': {'k2': 'hello'}}

In [48]:
d['k1']['k2']

'hello'

In [49]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

In [62]:
d['k1'][0]['nest_key'][1][0]

'hello'

In [63]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [67]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

#Can you sort a dictionary? Why or why not?

Answer: No! Because normal dictionaries are mappings not a sequence.

What is the major difference between tuples and lists?

Ans : 

Tuples are immutable!


How do you create a tuple?

In [68]:
tup = (1,2,3)

In [69]:
tup

(1, 2, 3)

#Sets

What is unique about a set?

Ans: it is list of unique values.


Use a set to find the unique values of the list below:

In [70]:
list5 = [1,1,11,1,1,1,1,2,2,2,22,2,3,3,3,33
        ]

In [71]:
set(list5)

{1, 2, 3, 11, 22, 33}