In [3]:
person = {'name':'Sandy','age':25}  #dict

In [4]:
person

{'name': 'Sandy', 'age': 25}

In [6]:
sentance = 'My name is {} and I am {} year old'.format(person['name'],person['age'])

In [7]:
sentance

'My name is Sandy and I am 25 year old'

In [9]:
# we can use index also to alter the position or for sequence 

sentance = 'My name is {0} and I am {1} year old'.format(person['name'],person['age'])
print(sentance)

My name is Sandy and I am 25 year old

In [10]:
sentance = 'My name is {1} and I am {0} year old'.format(person['name'],person['age'])
print(sentance)

My name is 25 and I am Sandy year old

In [12]:
# to avoid rewritting key in for each index

sentance = 'My name is {0[name]} and I am {0[age]} year old'.format(person)
sentance

'My name is Sandy and I am 25 year old'

In [13]:
# We can use the list same way
#Lets create one list for the same attribute

lst = ['sandy',25]
lst

['sandy', 25]

In [15]:
sentance = 'My name is {0[0]} and I am {0[1]} year old'.format(lst) 
# I've used here first indexing for formating method and 2nd for list indexing
sentance

'My name is sandy and I am 25 year old'

In [18]:
sentance = 'My name is {0} and I am {1} year old'.format(*person) #arg
#Here we are using arg and kwarg thing to unpack the dict
sentance

'My name is name and I am age year old'

In [20]:
sentance = 'My name is {name} and I am {age} year old'.format(**person) #kwarg
#Here we are using arg and kwarg thing to unpack the dict
sentance

'My name is Sandy and I am 25 year old'

In [26]:
#with loop condition

for i in range(0,10):
    print('the value is {}'.format(i))

the value is 0
the value is 1
the value is 2
the value is 3
the value is 4
the value is 5
the value is 6
the value is 7
the value is 8
the value is 9

In [32]:
#if we want to add padding in our numbers 
for i in range(0,10):
    print('the value is {:02}'.format(i))

the value is 00
the value is 01
the value is 02
the value is 03
the value is 04
the value is 05
the value is 06
the value is 07
the value is 08
the value is 09

In [38]:
#if we want to add decimal place upto our given limit

for i in range(0,10):
    print('the value is {:05.2f}'.format(i))

the value is 00.00
the value is 01.00
the value is 02.00
the value is 03.00
the value is 04.00
the value is 05.00
the value is 06.00
the value is 07.00
the value is 08.00
the value is 09.00

In [41]:
#date
import datetime

my_date = datetime.datetime(2020,10,15,3,40,15)
print(my_date)

2020-10-15 03:40:15

#if we want to represent the above date in some other formate we can use the formating option

Directive 	Description 	Example 	
%a 	Weekday, short version 	Wed 	
%A 	Weekday, full version 	Wednesday 	
%w 	Weekday as a number 0-6, 0 is Sunday 	3 	
%d 	Day of month 01-31 	31 	
%b 	Month name, short version 	Dec 	
%B 	Month name, full version 	December 	
%m 	Month as a number 01-12 	12 	
%y 	Year, short version, without century 	18 	
%Y 	Year, full version 	2018 	
%H 	Hour 00-23 	17 	
%I 	Hour 00-12 	05 	
%p 	AM/PM 	PM 	
%M 	Minute 00-59 	41 	
%S 	Second 00-59 	08 	
%f 	Microsecond 000000-999999 	548513 	
%z 	UTC offset 	+0100 	
%Z 	Timezone 	CST 	
%j 	Day number of year 001-366 	365 	
%U 	Week number of year, Sunday as the first day of week, 00-53 	52 	
%W 	Week number of year, Monday as the first day of week, 00-53 	52 	
%c 	Local version of date and time 	Mon Dec 31 17:41:00 2018 	
%x 	Local version of date 	12/31/18 	
%X 	Local version of time 	17:41:00 	
%% 	A % character 	%
#########################################


    %a: Returns the first three characters of the weekday, e.g. Wed.
    %A: Returns the full name of the weekday, e.g. Wednesday.
    %B: Returns the full name of the month, e.g. September.
    %w: Returns the weekday as a number, from 0 to 6, with Sunday being 0.
    %m: Returns the month as a number, from 01 to 12.
    %p: Returns AM/PM for time.
    %y: Returns the year in two-digit format, that is, without the century. For example, "18" instead of "2018".
    %f: Returns microsecond from 000000 to 999999.
    %Z: Returns the timezone.
    %z: Returns UTC offset.
    %j: Returns the number of the day in the year, from 001 to 366.
    %W: Returns the week number of the year, from 00 to 53, with Monday being counted as the first day of the week.
    %U: Returns the week number of the year, from 00 to 53, with Sunday counted as the first day of each week.
    %c: Returns the local date and time version.
    %x: Returns the local version of date.
    %X: Returns the local version of time.

In [50]:
formated_date = '{:%B %d, %Y}'.format(my_date)
formated_date

'October 15, 2020'

In [49]:
formated_date1 = '{:%B %d %Y} fell on {:%A} and was the {:%j} of the year'.format(my_date)
formated_date1

IndexError: tuple index out of range

In [ ]:
#At the first place it will give error coz we have 3 place holder to call but .format has only one argument, 
#so it can't decide where is other 2 argument to call , so in this case we have to use indexing

In [52]:
formated_date1 = '{0:%B %d %Y} fell on {0:%A} and was the {0:%j} day of the year'.format(my_date)
formated_date1

'October 15 2020 fell on Thursday and was the 289 day of the year'

In [54]:
# f string method is quite usful we want to use the method for the object e.g

name = 'YOYO'
last_name= 'GOGO'

st = f'my name is {name} {last_name}'
st

'my name is YOYO GOGO'

In [55]:
#now with method
st = f'my name is {name.lower()} {last_name.capitalize()}'
st

'my name is yoyo Gogo'

In [56]:
formated_date2 = f'{my_date}'
formated_date2

'2020-10-15 03:40:15'

In [59]:
#want to change the format
formated_date3 = f'{my_date:%B %d, %Y}'
formated_date3

'October 15, 2020'